{% extends "home.html" if signin_form else "base.html" %}

{% block jumbotron %}
<div class="jumbotron">
  <div class="container">
        <div class="col-md-16">
            <h1 class="display-4">Me</h1>
            <p class="lead text-justified">My name is <a href="https://picklu.github.io" target="_blank">Subrata Sarker</a>. I am a chemist, a materials scientist and an aspiring data scientist.</p>
        </div>
        <div class="col-md-16">
            <h1 class="display-4">jVAnalysis</h1>
            <p class="lead text-justified">is a web application based on my <a href="#references">academic publications</a>. It allows one to analyze current density-voltage (<em>jV</em>) data of <a href="#dsscs">dye-sensitized solar cells (DSSCs)</a> and display the corresponding results with a few clicks.</p>
        </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h5 id="dsscs"><a href="https://en.wikipedia.org/wiki/Dye-sensitized_solar_cell" target="_blank">Dye-sensitized solar cells (DSSCs)</a></h5>
        <img class="img-fluid" src="{{ url_for("static", filename="images/dssc.png") }}" alt="schemactic of a dssc"></img>
        <figcaption class="figure-caption">Figure: Schematic of a typical dye-sensitized solar cell showcasing a) different components sequentially as they appear in b) complete cell (glass is not shown).</figcaption>
        <p class="text-justified">
            Among the third generation solar cells, the dye-sensitized solar cells (DSSCs), also known as the Grätzel cells, has been a promising concept since the publication of the seminal Nature paper in 1991 by Professor Michael Grätzel and Brian O’Regan. The main advantages of DSSCs over other solar cells are the low-cost manufacturing process, the use of abundant and non-toxic titanium dioxide, and the efficient generation of electricity even at diffuse light conditions.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5 id="exact-analysis"><a href="http://www.sciencedirect.com/science/article/pii/S0038092X15001243" target="_blank">Exact analysis of jV curve of DSSCs</a></h5>
        <img class="img-fluid" src="{{ url_for("static", filename="images/exact_analysis.png") }}" alt="graphical abstract of exact analysis of jV curves of DSSCs"></img>
        <figcaption class="figure-caption">Figure: Graphical abstract for Exact analysis of current density-voltage curves of DSSCs.</figcaption>
        <p class="text-justified">
            In this work, a simple and a straight-forward approach to derive the parameters of dye-sensitized solar cells (DSSCs) in terms of single diode model is discussed. The parameters are extracted exclusively from single current density–voltage (j–V) curve with some common assumptions. The technique does not require smoothing of the j–V curve by means of polynomial fitting as well as iterative calculation of the diode model equation. The data obtained from this method are compared with that obtained from least square fitting and the combined analyses of electrochemical impedance spectroscopy (EIS) and j–V data for two different DSSCs. The method is suitable for routine analysis of DSSCs.
        </p>
        <div class="table-responsive">
            <label for="description" class="text-muted">Description of the parameters</label>
            <table id="description" class="table table-striped">
                <thead>
                    <tr><th>Parameters</th><th>Description</th></tr>
                </thead>
                <tbody>
                    <tr><td><em>j</em><sub>ph</sub></td><td>Photogenerated current density.</td></tr>
                    <tr><td><em>j</em><sub>sc</sub></td><td>Short-circuit current density.</td></tr>
                    <tr><td><em>ff</em></td><td>Fill factor.</td></tr>
                    <tr><td><em>PE</em></td><td>Power conversion efficiency.</td></tr>
                    <tr><td><em>j</em><sub>0</sub></td><td>Dark saturation current density.</td></tr>
                    <tr><td><em>R</em><sub>r</sub></td><td>Recombination resistance.</td></tr>
                    <tr><td><em>m</em></td><td>Ideality factor.</td></tr>
                    <tr><td><em>R</em><sub>s</sub></td><td>Series resistance.</td></tr>
                    <tr><td><em>R</em><sub>sh</sub></td><td>Shunt resistance.</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div id="references" class="col-md-12">
        <div class="references">
            <h5 class="text-muted">References</h5>
            <ol class="list-group">
                <li class="list-group-item">S. Sarker, H. W. Seo, D. M. Kim; Calculating current density–voltage curves of dye-sensitized solar cells: A straight-forward approach; <em>Journal Of Power Sources </em>, 2014, 248, 739 (<a href="https://doi.org/10.1016/j.jpowsour.2013.09.101">https://doi.org/10.1016/j.jpowsour.2013.09.101</a>).</li>
                <li class="list-group-item">S. Sarker, H. W. Seo, K. S. Lee, Y. K. Jin, H. C. Ju, D. M. Kim; Exact analytical analysis of current density–voltage curves of dye-sensitized solar cells, <em>Solar Energy</em>, 2015, 115, 390 (<a href="https://doi.org/10.1016/j.solener.2015.03.009">https://doi.org/10.1016/j.solener.2015.03.009</a>).</li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <hr>
</div>
{% endblock %}