{%extends "base.html" %}

{% block jumbotron %}
<div class="content-jumbotron">
    <h2>jVAnalysis</h2>
    <p class="text-justified">is an web application based on my <a href="#exact-analysis">academic publication</a>. It allows one to analyze current density-voltage (<em>jV</em>) data of <a href="#dsscs">dye-sensitized solar cells (DSSCs)</a> very quickly.
    I have developed this app as a final project for <a href="https://www.edx.org/course/introduction-computer-science-harvardx-cs50x?gclid=Cj0KCQiAlpDQBRDmARIsAAW6-DOoBuZxFKkfQESMDB36biQ8runJDadTTe25aBIEVi2Ewwej8BFMHUIaArBdEALw_wcB" target="_blank">CS50x</a>. I would like to thank <a href="https://en.wikipedia.org/wiki/David_J._Malan" target="_blank">Prof. David J. Malan</a> and his CS50x team for their great effort in making computer science affordable to me.</p>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h5 id="dsscs"><a href="https://en.wikipedia.org/wiki/Dye-sensitized_solar_cell" target="_blank">Dye-sensitized solar cells (DSSCs)</a></h5>
        <img class="img-fluid" src="{{ url_for("static", filename="images/dssc.png") }}" alt="schemactic of a dssc"></img>
        <figcaption class="figure-caption">Figure: Schematic of a typical dye-sensitized solar cell showcasing a) different components sequentially as they appear in b) complete cell (glass is not shown).</figcaption>
        <p class="text-justified">
            Among the third generation solar cells, the dye-sensitized solar cells (DSSCs), also known as the Grätzel cells, has been a promising concept since the publication of the seminal Nature paper in 1991 by Professor Michael Grätzel and Brian O’Regan. The main advantages of DSSCs over other solar cells are the low-cost manufacturing process, the use of abundant and non-toxic titanium dioxide, and the efficient generation of electricity even at diffuse light conditions.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5 id="exact-analysis"><a href="http://www.sciencedirect.com/science/article/pii/S0038092X15001243" target="_blank">Exact analysis of jV curve of DSSCs</a></h5>
        <img class="img-fluid" src="{{ url_for("static", filename="images/exact_analysis.png") }}" alt="graphical abstract of exact analysis of jV curves of DSSCs"></img>
        <figcaption class="figure-caption">Figure: Graphical abstract for Exact analysis of current density-voltage curves of DSSCs.</figcaption>
        <p class="text-justified">
            In this work, a simple and a straight-forward approach to derive the parameters of dye-sensitized solar cells (DSSCs) in terms of single diode model is discussed. The parameters are extracted exclusively from single current density–voltage (j–V) curve with some common assumptions. The technique does not require smoothing of the j–V curve by means of polynomial fitting as well as iterative calculation of the diode model equation. The data obtained from this method are compared with that obtained from least square fitting and the combined analyses of electrochemical impedance spectroscopy (EIS) and j–V data for two different DSSCs. The method is suitable for routine analysis of DSSCs.
        </p>
    </div>
</div>
{% endblock %}