{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12 content-jumbotron">
        <button data-target="#uploaded-data" class="btn btn-block btn-outline-info" data-toggle="collapse">Uploaded Data</button>
        <div id="uploaded-data" class="table-responsive collapse show">
            {% if saved_data %}
            <table id="saved-data" class="table table-hover text-center">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Sample Name</th>
                        <th>Analysis Date</th>
                        <th>Detail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for edata in saved_data %}
                    <tr>
                        <td class="idx">{{ loop.index }}</td>
                        <td class="snm text-left">{{ edata.data.sample_name }}</td>
                        <td class="ad">{{ edata.data.analyzed_on|nicedate }}</td>
                        <td id="{{ edata['_id']|nicefy }}">
                            <a class="view-result" href="#">✔</a>
                            {% if regular %}
                            &nbsp;&nbsp;
                            <a aria-label="Close" href="#" data-toggle="modal" data-target="#saved-data-yesno">❌</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-warning">You don't have any saved data!</div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Modal start -->
<div class="modal fade" id="saved-data-yesno" tabindex="-1" role="dialog" aria-labelledby="saved-data-yesno-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="saved-data-yesno-label">Delete data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The selected data will be deleted. Do you want to proceed?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger btn-yes">Yes</button>
      </div>
    </div>
  </div>
</div><!-- Modal end -->

<div class="row">
    <hr>
</div>
<div id="results" class="row" hidden="hidden">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-center text-muted">Result for <span id="sample-name"></span> [area: <span id="area"></span> cm<sup>2</sup> &amp; temperature: <span id="temperature"></span> <sup>o</sup>C] measured on <span id="measured_on"></span>.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"><!-- plot -->
                <div class="row">
                    <div id="plot-container" class="col-md-12">
                        <!-- bokeh plot will be rendered here -->
                    </div>
                </div>
            </div>
            <div id="parameters" class="col-md-6"><!-- params -->
                <div class="row">
                    <!-- pv parameters -->
                    <div class="col-md-12 table-responsive">
                        <label for="pvparams" class="text-muted">Photovoltaic parameters</label>
                        <table id="pvparams" class="table table-striped text-center">
                            <thead>
                                <tr>
                                    <th><em>V</em><sub>oc</sub><br>(V)</th>
                                    <th><em>j</em><sub>sc</sub><br>(mA/cm<sup>2</sup>)</th>
                                    <th><em>ff</em><br>(%)</th>
                                    <th><em>PE</em><br>(%)</th>
                                </tr>
                            </thead>
                            <tbody id="pv-params">
                                <!-- pv params will be inserted here dynamically -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <!-- model parameters -->
                    <div class="col-md-12 table-responsive ">
                        <label for="modelparams" class="text-muted">Model parameters ( <em>j</em><sub>sc</sub> &asymp; <em>j</em><sub>ph</sub> )</label>
                        <table id="modelparams" class="table table-striped text-center">
                            <thead>
                                <tr>
                                    <th><em>j</em><sub>0</sub><br>(mA/cm<sup>2</sup>)</th>
                                    <th><em>m</em><br>&nbsp;</th>
                                    <th><em>R</em><sub>s</sub><br>(&#x2126; cm<sup>2</sup>)</th>
                                    <th><em>R</em><sub>sh</sub><br>(&#x2126; cm<sup>2</sup>)</th>
                                </tr>
                            </thead>
                            <tbody id="model-params">
                                <!-- model params will be insereted here dynamically -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <hr>
</div>
<div class="row">
    <div class="col-md-12">
        {% if regular %}
        <button data-target="#account-settings" class="btn btn-block btn-outline-warning" data-toggle="collapse">Account Settings</button>
        <div id="account-settings" class="table-responsive collapse">
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th>
                            Item
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scorpe="row">Id</th>
                        <td><button id="change" class="btn btn-sm btn-info my-sm-0" type="submit">Change</button></td>
                    </tr>
                    <tr>
                        <th scope="row">Account</th>
                        <td><button id="delete" class="btn btn-sm btn-danger my-sm-0" type="submit">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <hr>
</div>
{% endblock %}

{%- block customjs -%}
<script>
    // event handler for result
    viewSavedData() 
    deleteSavedData()
    
</script>
{% endblock %}