{% extends "base.html" %}

{% block bokeh_css %}
    <!-- Bokeh css resource -->
    {{ bkcss|safe }}
{% endblock %}
    

{% block jumbotron %}
<div class="row">
    <div class="col-md-8 col-center-block">
        <form class="form-group heading-jumbotron">
            <select id="data" class="form-control">
                <option name="data" value="data-1">data-1</option>
                <option name="data" value="data-2">data-2</option>
                <option name="data" value="data-3">data-3</option>
                <option name="data" value="data-4">data-4</option>
            </select>
        </form>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-center-block">
        {{ bkdiv|safe }}
    </div>
</div>
<div class="row">
    <hr>
</div>
<div class="row">
    <div class="col-md-5">
        <h4>Photovoltaic parameters</h4>
        <table class="table table-striped table-responsive text-center">
            <thead>
                <tr>
                    <th><em>V</em><sub>oc</sub><br>(V)</th>
                    <th><em>j</em><sub>sc</sub><br>(mA/cm<sup>2</sup>)</th>
                    <th><em>ff</em><br>(%)</th>
                    <th><em>PE</em><br>(%)</th>
                </tr>
            </thead>
            <tobody>
                <tr>
                    <td>0.55</td>
                    <td>12.5</td>
                    <td>62.5</td>
                    <td>4.0</td>
                </tr>
            </tobody>
        </table>
    </div>
    <div class="col-md-7">
        <h4>Model parameters</h4>
        <table class="table table-striped table-responsive text-center">
            <thead>
                <tr>
                    <th><em>j</em><sub>sc</sub><br>(mA/cm<sup>2</sup>)</th>
                    <th><em>j</em><sub>0</sub><br>(mA/cm<sup>2</sup>)</th>
                    <th><em>m</em><br>&nbsp;</th>
                    <th><em>R</em><sub>s</sub><br>(&#x2126; cm<sup>2</sup>)</th>
                    <th><em>R</em><sub>sh</sub><br>(&#x2126; cm<sup>2</sup>)</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>12.5</td>
                <td>62.5e-8</td>
                <td>1.5</td>
                <td>7.8</td>
                <td>3000</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block bokeh_js %}
    <!-- Bokeh js resources -->
    {{ bkjs|safe }}
    {{ bkscript|safe }}
{% endblock %}