{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12 content-jumbotron">
        <button data-target="#uploaded-data" class="btn btn-block btn-outline-success" data-toggle="collapse">Uploaded Data</button>
        <div id="uploaded-data" class="table-responsive collapse">
            {% if saved_data %}
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Sample Name</th>
                        <th>Analysis Date</th>
                        <th>Area/cm<sup>2</sup></th>
                        <th>Temperature/<sup>o</sup>C</th>
                        <th>Detail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in saved_data %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-left">{{ data.data.sample_name }}</td>
                        <td>{{ data.analyzed_on|nicedate }}</td>
                        <td>{{ data.data.area|nicenum }}</td>
                        <td>{{ data.data.temperature|nicenum(sd=1) }}</td>
                        <td><a id="{{ data['_id']|nicefy }}" class="view-result" href="#">view</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-warning">You didn't save any data yet!</div>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <hr>
</div>
<div id="results" class="row" hidden="hidden">
    <!-- plot -->
    <div class="col-md-6">
        <div class="row">
            <div id="plot-container" class="col-md-12">
                <!-- bokeh plot will be rendered here -->
            </div>
        </div>
    </div>
    <!-- params -->
    <div id="parameters" class="col-md-6">
        <div class="row">
            <!-- pv parameters -->
            <div class="col-md-12 table-responsive">
                <label for="pvparams">Photovoltaic parameters</label>
                <table id="pvparams" class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th><em>V</em><sub>oc</sub><br>(V)</th>
                            <th><em>j</em><sub>sc</sub><br>(mA/cm<sup>2</sup>)</th>
                            <th><em>ff</em><br>(%)</th>
                            <th><em>PE</em><br>(%)</th>
                        </tr>
                    </thead>
                    <tbody id="pv-params">
                        <!-- pv params will be inserted here dynamically -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <!-- model parameters -->
            <div class="col-md-12 table-responsive ">
                <label for="modelparams">Model parameters ( <em>j</em><sub>sc</sub> &asymp; <em>j</em><sub>ph</sub> )</label>
                <table id="modelparams" class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th><em>j</em><sub>0</sub><br>(mA/cm<sup>2</sup>)</th>
                            <th><em>m</em><br>&nbsp;</th>
                            <th><em>R</em><sub>s</sub><br>(&#x2126; cm<sup>2</sup>)</th>
                            <th><em>R</em><sub>sh</sub><br>(&#x2126; cm<sup>2</sup>)</th>
                        </tr>
                    </thead>
                    <tbody id="model-params">
                        <!-- model params will be insereted here dynamically -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <hr>
</div>
<div class="row">
    <div class="col-md-12">
        {% if regular %}
        <button data-target="#account-settings" class="btn btn-block btn-outline-danger" data-toggle="collapse">Account Settings</button>
        <div id="account-settings" class="table-responsive collapse">
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th>
                            Item
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scorpe="row">Id</th>
                        <td><button id="change" class="btn btn-sm btn-info my-sm-0" type="submit">Change</button></td>
                    </tr>
                    <tr>
                        <th scope="row">Account</th>
                        <td><button id="delete" class="btn btn-sm btn-danger my-sm-0" type="submit">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <hr>
</div>
{% endblock %}

{%- block customjs -%}
<script>
    // event handler for result
    viewSavedPlot() 
    
</script>
{% endblock %}