{% extends "base.html" %}
    
{% block content %}
<div class="row">
    <div id="row-table-data" class="col-md-12 content-jumbotron">
        <div class="row">
            <div id="table-info-container" class="col-md-12">
                <!-- alert box for the data table will be inserted here dynamically -->
            </div>
        </div>
        <div class="row">
            <div id="table-container" class="col-md-12">
                <!-- data will be inserted here dynamically -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    &nbsp;<!-- blank area -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-row">
            <div class="form-group col-md-8">
                <label class="custom-file">
                  <input type="file" id="data-file" class="custom-file-input">
                  <span class="custom-file-control"></span>
                </label>
            </div>
            <div class="form-group col-md-4">
                <select id="delimiter" name="delimiter" class="form-control">
                    <option name="delimiter" value="auto">Delimiter</option>
                    <option name="delimiter" value="tab">Tab</option>
                    <option name="delimiter" value="space">Space</option>
                    <option name="delimiter" value="comma">Comma</option>
                    <option name="delimiter" value="semicolon">Semicolon</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>Set data attributes:</h5>
            </div>
        </div>
        <form action="">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="datepicker">Measured Date</label>
                    <input id="datepicker" class="form-control" type="text" readonly>
                </div>
                <div class="form-group col-md-3">
                    <label for="area">Area/cm<sup>2</sup></label>
                    <input id="area" class="form-control" type="Number" step="0.01" value=0.25>
                </div>
                <div class="form-group col-md-3">
                    <label for="temperature">Temperature/<sup>o</sup>C</label>
                    <input id="temperature" class="form-control" type="Number" value="25">
                </div>
                <div class="form-group col-md-2">
                     <label for="analyze">&nbsp;</label>
                    <input id="analyze" class="btn btn-block btn-primary" type="submit" value="Analyze">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-center-block">
        <h5 class="content-jumbotron">Results:</h5>
        <div id="plot-container"></div>
    </div>
</div>
<div class="row">
    <hr>
</div>
<div class="row">
    <div class="col-md-5 table-responsive">
        <label>Photovoltaic parameters</label>
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th><em>V</em><sub>oc</sub><br>(V)</th>
                    <th><em>j</em><sub>sc</sub><br>(mA/cm<sup>2</sup>)</th>
                    <th><em>ff</em><br>(%)</th>
                    <th><em>PE</em><br>(%)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0.55</td>
                    <td>12.5</td>
                    <td>62.5</td>
                    <td>4.0</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-7 table-responsive ">
        <label>Model parameters</label>
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th><em>j</em><sub>sc</sub><br>(mA/cm<sup>2</sup>)</th>
                    <th><em>j</em><sub>0</sub><br>(mA/cm<sup>2</sup>)</th>
                    <th><em>m</em><br>&nbsp;</th>
                    <th><em>R</em><sub>s</sub><br>(&#x2126; cm<sup>2</sup>)</th>
                    <th><em>R</em><sub>sh</sub><br>(&#x2126; cm<sup>2</sup>)</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>12.5</td>
                <td>62.5e-8</td>
                <td>1.5</td>
                <td>7.8</td>
                <td>3000</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block customjs %}
    <script>
        $('#plot-container').load(Flask.url_for("plot", {"path": "jvanalysis"}));
        $('#data-file').on('change', uploadFile);
        $('#delimiter').on('change', reParseData);
        $('#datepicker').val($.datepicker.formatDate('dd-mm-yy', new Date()))
                        .datepicker({ 
                            dateFormat: 'dd-mm-yy',
                            maxDate: new Date()
                        });
        deleteRow();
        deleteCell();
        toggleEdit();
    </script>
{% endblock %}