<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Subrata Sarker">
    <meta name="description" content="jVAnalysis is a web application that takes current-voltage data of a solar cell as input and display some important parameters and a plot after analyzing the data.">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>jVAnalysis | {{ title or "Home" }}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/narrow-jumbotron.css') }}">
    <!-- jquery ui css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
    <!-- custom css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% block header %}
    <header class="header clearfix bg-dark fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark">
                <h3><a class="navbar-brand {{ 'text-muted' if title else 'active' }}" href="{{ url_for('index') }}">{{ 'Home' if title else 'jVAnalysis' }}</a></h3>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% block navbar %}
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto text-md-center">
                        <li class="nav-item {{ "active" if title == "About" }}">
                            <a class="nav-link" href="{{ url_for('about') }}">About</a>
                        </li>
                    {% block signin %}
                    {# if the user is signed in #}
                    {% if current_user.is_authenticated %}
                        <li class="nav-item {{ "active" if title == "Account" }}">
                            <a class="nav-link" href="{{ url_for('account') }}">Account</a>
                        </li>
                        <li class="nav-item {{ "active" if title == "Analysis" }}">
                            <a class="nav-link" href="{{ url_for('analysis') }}">Analysis</a>
                        </li>
                        <li class="nav-item {{ "active" if title == "How" }}">
                            <a class="nav-link" href="{{ url_for('how') }}">How</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" action="{{ url_for('signout') }}" method="POST">
                        <input type="text" name="next" value="{{ next or '' }}" hidden />
                        <span><a class="nav-link" href="{{ url_for('account') }}">User: {{ current_user.email if current_user.regular else  "guest@jvanalysis.com" }}&nbsp;</a></span>
                        <input class="btn btn-sm btn-default my-sm-0" type="submit" value="Sign out">
                    </form>
                    {# if the user is not signed in #}
                    {% else %}
                    </ul>
                    <form class="form-inline my-2 my-lg-0" action="{{ url_for('signin') }}" method="POST">
                        {{ signin_form.csrf_token }}
                        {{ signin_form.next(value=next or '') }}
                        {{ signin_form.email(class="form-control form-control-sm mr-sm-2", placeholder="email address") }}
                        {{ signin_form.password(class="form-control form-control-sm mr-sm-2", placeholder="password") }}
                        {{ signin_form.submit(value="Sign in", class="btn btn-sm btn-primary my-sm-0") }}
                    </form>
                    {% endif %}
                    {% endblock signin %}
                </div>
                {% endblock navbar %}
            </nav>
        </div>
    </header>
    {% endblock header %}
    
    <main role="main">
        {%- block jumbotron -%}
        {% endblock %}
        <div class="container">
            {%- block content -%}
            {% endblock %}
        </div>
    </main>
    
    <footer class="footer">
        <div class="container">
            <p>&copy; Subrata Sarker 2017</p>
        </div>
    </footer>
    
    <!-- javascript resources -->
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- https://github.com/mholt/PapaParse -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/papaparse.min.js') }}"></script>
    <!-- https://github.com/adamwdraper/Numeral-js -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/numeral.js') }}"></script>
    <!-- http://stewartjpark.com/Flask-JSGlue/ -->
    {{ JSGlue.include() }}
    <!-- jquery-ui.min.js -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <!-- form validator for bootstrap: https://github.com/1000hz/bootstrap-validator -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js" integrity="sha256-dHf/YjH1A4tewEsKUSmNnV05DDbfGN3g7NMq86xgGh8=" crossorigin="anonymous"></script>
    <!-- custom js script -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    {%- block customjs -%}{% endblock %}
    
    <!-- Modal start -->
    <div class="modal fade" id="modal-yesno" tabindex="-1" role="dialog" aria-labelledby="modal-yesno-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-yesno-label">Delete data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            The selected data will be deleted. Do you want to proceed?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-danger btn-yes">Yes</button>
          </div>
        </div>
      </div>
    </div><!-- Modal end -->
</body>
</html>