<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>jVAnalysis | {{ title or "Home" }}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/narrow-jumbotron.css') }}">
    {%- block bokeh_css -%}{% endblock %}
    <!-- custom css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header clearfix bg-dark fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark">
                <h3><a class="navbar-brand text-muted" href="{{ url_for('index') }}">jVAnalysis</a></h3>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% block navbar %}
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto text-md-center">
                        <li class="nav-item {{ "active" if not title }}">
                            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li class="nav-item {{ "active" if title == "About" }}">
                            <a class="nav-link" href="{{ url_for('about') }}">About</a>
                        </li>
                        <li class="nav-item {{ "active" if title == "Analysis" }}">
                            <a class="nav-link" href="{{ url_for('analysis') }}">Analysis</a>
                        </li>
                        <li class="nav-item {{ "active" if title == "Account" }}">
                            <a class="nav-link" href="{{ url_for('account') }}">Account</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" action="{{ url_for('signout') }}" method="post">
                        <input class="btn btn-sm btn-danger my-sm-0" type="submit" value="Sign out">
                    </form>
                </div>
                {% endblock %}
            </nav>
        </div>
    </header>
    
    <main role="main">
        <div class="jumbotron">
          <div class="container">
            {%- block jumbotron -%}
            {% endblock %}
            </div>
        </div>
        <div class="container">
            {%- block content -%}
            {% endblock %}
        </div>
    </main>
    
    <footer class="footer">
        <div class="container">
            <p>&copy; Subrata Sarker 2017</p>
        </div>
    </footer>
    
    <!-- javascript resources -->
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <!-- https://github.com/mholt/PapaParse -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/papaparse.min.js') }}"></script>
    <!-- https://github.com/adamwdraper/Numeral-js -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/numeral.js') }}"></script>
    {%- block bokeh_js -%}{% endblock %}
    <!-- custom js script -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>