{% extends "base.html" %}

{% block bokeh_css %}
    <!-- Bokeh css resource -->
    {{ bkcss|safe }}
{% endblock %}
    

{% block jumbotron %}
<h2 class="heading-jumbotron">Dashboard</h2>
<div class="row col-center-block">
    {{ bkdiv|safe }}
</div>
{% endblock %}

{% block content %}
<div class="col-lg-6">
    <h1 class="text-center">Dashboard1</h1>
</div>
<div class="col-lg-6">
    <h1 class="text-center">Dashboard2</h1>
</div>
{% endblock %}

{% block bokeh_js %}
    <!-- Bokeh js resources -->
    {{ bkjs|safe }}
    {{ bkscript|safe }}
{% endblock %}