{% extends "home_secured.html" %}
                
{% block navbar %}
<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto text-md-center">
        <li class="nav-item {{ "active" if not title }}">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="nav-item {{ "active" if title == "About" }}">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
    </ul>
    {% block signin %}
    <form class="form-inline my-2 my-lg-0" action="{{ url_for('signin') }}" method="POST">
        {{ signin_form.csrf_token }}
        {{ signin_form.next(value=next or '') }}
        {{ signin_form.email(class="form-control form-control-sm mr-sm-2", placeholder="email address") }}
        {{ signin_form.password(class="form-control form-control-sm mr-sm-2", placeholder="password") }}
        {{ signin_form.submit(value="Sign in", class="btn btn-sm btn-primary my-sm-0") }}
    </form>
    {% endblock %}
{% endblock %}

{%- block leadbtn %}
{% if signin_form.message %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="text-left">
        <h5><strong>Warning!</strong></h5>
        <span>{{ signin_form.message }}</span>
    </div>
</div>
<div id="lead-button" class="collapse">
{% else %}
<div>
{% endif %}
    <p class="lead"><a class="btn btn-info btn-jumbotron" href="{{ url_for('signup') }}" role="button">Sign up to get full access</a></p>
    <p class="lead">or</p>
    <p class="lead"><a class="btn btn-info  btn-jumbotron" href="{{ url_for('guest') }}" role="button">try as a guest</a></p>
</div>
{% endblock %}