{% extends "base.html" %}
    
{% block jumbotron %}
  <h1 class="display-4">jVAnalysis</h1>
  <p class="lead">Analyze current density-voltage (<em>jV</em>) data of a <a href="{{ url_for('about') }}#dsscs">dye-sensitized solar cell (DSSC)</a> within a minute. Go to <a href="{{ url_for('analysis') }}">analysis</a>, upload your data, and submit; it is that simple!</p>
  {% block leadbtn %}
  {% endblock %}
{% endblock %}
    

{% block content %}
<div class="row marketing">
  <div class="col-md-11 col-center-block">
    <img class="img-fluid" src="{{ url_for("static", filename="images/jvanalysis_app.png") }}" alt="jvanalysis app"></img>
  </div>
</div>
{% endblock %}