{% extends "home_secured.html" %}
                
{% block navbar %}
<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control form-control-sm mr-sm-2" type="email" placeholder="email" aria-label="Email">
        <input class="form-control form-control-sm mr-sm-2" type="password" placeholder="password" aria-label="Password">
        <input class="btn btn-sm btn-success my-sm-0" type="submit" value="Sign in">
    </form>
{% endblock %}
    
{% block leadbtn %}
<p class="lead"><a class="btn btn-info btn-jumbotron" href="#" role="button">Sign up to get full access</a></p>
<p class="lead">or</p>
<p class="lead"><a class="btn btn-info  btn-jumbotron" href="#" role="button">try as a guest</a></p>
{% endblock %}