{% extends "base.html" %}
    
{% block jumbotron %}
  <h1 class="display-3">jV Analysis</h1>
  <p class="lead">Analyze current density - voltage (jV) data of a dye-sensitized solar cell (DSSC) within a minute. Upload your data and submit; it is that simple!</p>
  {% block leadbtn %}
  {% endblock %}
{% endblock %}
    

{% block content %}
<div class="row marketing">
  <div class="col-md-11 col-center-block">
    <img class="img-fluid" src="{{ url_for("static", filename="images/jvanalysis_app.png") }}" alt="jvanalysis app"></img>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h5><a href="{{ url_for('about') }}#dsscs">DSSC</a></h5>
    <p>Among the third generation solar cells, the dye-sensitized solar cells (DSSCs), also known as the Grätzel cells, have proven to be a promising concept since the publication of the seminal Nature paper in 1991 by Professor Michael Grätzel and his then graduate student Brian O’Regan. The main advantages of DSSCs over other solar cells are the low-cost manufacturing process, the use of abundant and non-toxic titanium dioxide, and the efficient generation of electricity even at diffuse light conditions.</p>  
  </div>
  
  <div class="col-md-6">
    <h5><a href="{{ url_for('about') }}#exact-analysis">Exact analysis</a></h5>
    <p><b>Abstract:</b> In this work, a simple and a straight-forward approach to derive the parameters of dye-sensitized solar cells (DSSCs) in terms of single diode model is discussed. The parameters are extracted exclusively from single current density–voltage (j–V) curve with some common assumptions. The technique does not require smoothing of the j–V curve by means of polynomial fitting as well as iterative calculation of the diode model equation.</p>
  </div>
</div>
{% endblock %}