<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <title>{{ title }}</title>
        <!-- Bokeh css resource -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bokeh-0.12.9.min.css') }}">
    </head>
    <body>
        <div id="jv-plot">
            {{ bkdiv|safe }}
        </div>
        <!-- Bokeh js resources -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/bokeh-0.12.9.min.js') }}"></script>
        {{ bkscript|safe }}
    </body>
</html>