{% extends "home.html" %}

{% block signin %}
<form class="form-inline my-2 my-lg-0" action="{{ url_for('signin') }}" method="GET">
    <input class="btn btn-sm btn-success my-sm-0" type="submit" value="Sign in">
</form>
{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
    <div class="container">
        <div class="content-jumbotron">
            <form class="form-horizontal form-signup" action="{{ url_for('signup') }}" method="POST">
                {{ signup_form.csrf_token }}
                <div class="form-group">
                    <div class="col-sm-12">
                        {% if signup_form.errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="text-left">
                                <strong>Warning!</strong>
                                <ul>
                                    {% for field_name, field_errors in signup_form.errors|dictsort if field_errors %}
                                    {% for error in field_errors %}
                                        {% if field_name == "password2" %}
                                            {% set field_name = "Confirm Password" %}
                                        {% endif %}
                                    <li><strong>{{ field_name|capitalize }} error:</strong> {{ error }}</li>
                                    {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                        {{ signup_form.email(class="form-control", placeholder="Email Address") }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        {{ signup_form.password(class="form-control", placeholder="Password") }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        {{ signup_form.password2(class="form-control", placeholder="Confirm Password") }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        {{ signup_form.submit(value="Sign up", class="btn btn-jumbotron btn-info btn-block") }}
                    </div>
                </div>
            </form> <!-- /form -->
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}