/* Re-customize the container */
@media (min-width: 48em) {
  .container {
    max-width: 50rem;
  }
}
.navbar{
    position:relative;
}
.display-4 {
    margin-top:2.2rem;
}
.content-jumbotron {
    margin-top:4.5rem;
}
.btn-jumbotron {
    padding: 0.45rem 1.2rem !important;
    font-size: 1.2rem !important;
}
.heading-jumbotron {
    margin:2.5rem 0rem !important;
}
.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
    /*margin-left: auto; margin-right: auto; */
}
.data-table {  
    height: 15rem !important;
    overflow: auto;
}