/* Re-customize the container */
@media (min-width: 48em) {
  .container {
    max-width: 50rem;
  }
}
.navbar{
    position:relative;
}
.display-4 {
    margin-top:2.2rem;
}
.content-jumbotron {
    margin-top:4.5rem;
}
.btn-jumbotron {
    padding: 0.45rem 1.2rem;
    font-size: 1.2rem;
}
.heading-jumbotron {
    margin:2.5rem 0rem;
}
.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
    /*margin-left: auto; margin-right: auto; */
}
.table-data {  
    height: 14.75rem;
    overflow: auto;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.custom-file {
    width: 100%;
}
.custom-file .custom-file-control:lang(en)::before {
    content: "Browse File";
}
.table-fit {
    width: 1%;
}
.ajax-loader-container {
    position: relative;
}
.ajax-loader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.ui-datepicker {
    width: 15.5rem;
}
.no-border {
    border: 0;
    box-shadow: none;
}
.cursor-pointer {
    cursor: pointer;
}
